Source: freecad
Section: science
Priority: optional
Maintainer: Werner Mayer <werner.wm.mayer@gmx.de>
Build-Depends: automake1.7, debhelper (>= 4.0.0), libc6 (>= 2.1.3)
Standards-Version: 3.6.1

Package: freecad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:
Description: An extensible Open Source CAx program for Unix/X11
 FreeCAD is an Open Source CAx RAD based on OpenCasCade, Qt and Python.
 It features some key concepts like macro recording, workbenches, ability
 to run as a server and dynamically loadable application extensions and
 it is designed to be platform independent.
 For more details see http://sourceforge.net/projects/free-cad
