<?xml version="1.0" encoding="utf-8"?>
<!--
   (c) Juergen Riegel (juergen.riegel@web.de) 2005                       
                                                                        
   This file is part of the FreeCAD CAx development system.             
                                                                        
   This program is free software; you can redistribute it and/or modify 
   it under the terms of the GNU Library General Public License (LGPL)  
   as published by the Free Software Foundation; either version 2 of    
   the License, or (at your option) any later version.                  
   for detail see the LICENCE text file.                                
                                                                        
   FreeCAD is distributed in the hope that it will be useful,           
   but WITHOUT ANY WARRANTY; without even the implied warranty of       
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        
   GNU Library General Public License for more details.                 
                                                                        
   You should have received a copy of the GNU Library General Public    
   License along with FreeCAD; if not, write to the Free Software       
   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 
   USA                                                                  
                                                                        
   Juergen Riegel 2005                                                 
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="LibPack4">
		<DirectoryRef Id="BinDir" FileSource="..\bin\">
			<Component Id="LibPack4Binaries" Guid="515D7157-403B-4085-AC2F-0DC95A47F2D4">
				<File Id="PythonExe" Name="python.exe">
					<Shortcut Id="PythonShortcut" 
						Directory="MenuDir" 
						Name="Python console" 
						Arguments="-l" 
						Description="Starts directly the python console" 
						WorkingDirectory="BinDir"
						Advertise="yes" />
				</File>
				<File Id="LibPack1" Name="boost_date_time-vc80-mt-1_34_1.dll" />
				<File Id="LibPack2" Name="boost_filesystem-vc80-mt-1_34_1.dll" />
				<File Id="LibPack3" Name="boost_iostreams-vc80-mt-1_34_1.dll" />
				<File Id="LibPack4" Name="boost_program_options-vc80-mt-1_34_1.dll" />
				<File Id="LibPack5" Name="boost_regex-vc80-mt-1_34_1.dll"  />
				<File Id="LibPack6" Name="boost_serialization-vc80-mt-1_34_1.dll"  />
				<File Id="LibPack7" Name="boost_signals-vc80-mt-1_34_1.dll"  />
				<File Id="LibPack8" Name="boost_thread-vc80-mt-1_34_1.dll" />
				<File Id="LibPack9" Name="boost_wserialization-vc80-mt-1_34_1.dll"  />
				<File Id="LibPack13" Name="coin2.dll"  />
				<File Id="LibPack14" Name="glib-1.3.dll"/>
				<File Id="LibPack26" Name="python25.dll"   />
				<File Id="LibPack27" Name="python25.zip"   />
				<File Id="LibPack28" Name="simage1.dll"   />
				<File Id="LibPack29" Name="soqt1.dll"   />
				<File Id="LibPack40" Name="Qt3Support4.dll"  DefaultLanguage="1033" />
				<File Id="LibPack41" Name="QtCore4.dll"   />
				<File Id="LibPack42" Name="QtDesigner4.dll"   />
				<File Id="LibPack43" Name="QtDesignerComponents4.dll"   />
				<File Id="LibPack44" Name="QtGui4.dll"   />
				<File Id="LibPack45" Name="QtNetwork4.dll"   />
				<File Id="LibPack46" Name="QtOpenGL4.dll"   />
				<File Id="LibPack47" Name="QtSql4.dll"   />
				<File Id="LibPack48" Name="QtSvg4.dll"   />
				<File Id="LibPack49" Name="QtTest4.dll"   />
				<File Id="LibPack50" Name="QtXml4.dll"   />
				<File Id="LibPack61" Name="TKBO.dll"   />
				<File Id="LibPack62" Name="TKBool.dll"   />
				<File Id="LibPack63" Name="TKBRep.dll"   />
				<File Id="LibPack64" Name="TKernel.dll"   />
				<File Id="LibPack65" Name="TKFillet.dll"   />
				<File Id="LibPack66" Name="TKG2d.dll"   />
				<File Id="LibPack67" Name="TKG3d.dll"   />
				<File Id="LibPack68" Name="TKGeomAlgo.dll"   />
				<File Id="LibPack69" Name="TKGeomBase.dll"   />
				<File Id="LibPack70" Name="TKHLR.dll"   />
				<File Id="LibPack71" Name="TKIGES.dll"   />
				<File Id="LibPack72" Name="TKMath.dll"   />
				<File Id="LibPack73" Name="TKMesh.dll"   />
				<File Id="LibPack74" Name="TKMeshVS.dll"   />
				<File Id="LibPack75" Name="TKOffset.dll"   />
				<File Id="LibPack76" Name="TKPrim.dll"   />
				<File Id="LibPack77" Name="TKService.dll"   />
				<File Id="LibPack78" Name="TKShHealing.dll"   />
				<File Id="LibPack79" Name="TKSTEP209.dll"   />
				<File Id="LibPack80" Name="TKSTEP.dll"   />
				<File Id="LibPack81" Name="TKSTEPAttr.dll"   />
				<File Id="LibPack82" Name="TKSTEPBase.dll"   />
				<File Id="LibPack83" Name="TKSTL.dll"   />
				<File Id="LibPack84" Name="TKTopAlgo.dll"   />
				<File Id="LibPack85" Name="TKXSBase.dll"   />
				<File Id="LibPack86" Name="Wm3Foundation80.dll"   />
				<File Id="LibPack87" Name="xerces-c_2_6.dll"   />
				<File Id="LibPack88" Name="zlib1.dll"   />
				<File Id="LibPack90" Name="wget.exe"   />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>